.App {
  text-align: center;
}

.cabecalho {
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: rgb(39, 43, 51);
}

h2 {
  padding-top: 20px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #4288ce;
}

.filtros {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  background-color: rgb(60, 62, 68);
}
.filtro span {
  margin: 0 5px;
  padding: 5px;
  border-radius: 25px;
  background-color: rgb(39, 43, 51);
}

.genero, .status {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  align-self: center;
}

.filtro span:hover {
  text-decoration: none;
  color: #4288ce;
}

.filtro-ativo{
  color: #4288ce;
}

.filtros-titulo{
  font-size: 20px;
  font-weight: bold;
}

.filtro {
  margin: 10px;
}

.lista-principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  min-width: 300px;
  height: fit-content;
  color: white;
  overflow: hidden;
  background-color: rgb(60, 62, 68);
  border-radius: 20px;
  margin-bottom: 20px;
}

.char {
  width: 20%;
}

.char img {
  width: 100%;
}

.char h2 {
  padding: 15px;
}

.char-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.char-info span {
  padding: 5px;
}

.lista-secundaria{
  display: flex;
	flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  background-color: rgb(97, 98, 100);
}

li {
  list-style: none;
  width: 70px;
  height: 70px;
}

li img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: aliceblue;
}

h5 {
  padding: 15px;
}

h1, h2, h4, h5 {
	margin: 0;
}